 <div class="section-full  mobile-page-padding bg-white  p-t80 p-b30 bg-repeat overflow-hide" style="background-image:url(images/background/bg-5.png);">

				<div class="container right-half-bg-image-outer">
                <div class="right-half-bg-image bg-parallax bg-fixed bg-top-right"  data-stellar-background-ratio="0" style="background-image:url(images/background/bg-2.jpg)"></div>
                    <!-- TITLE START -->
					<div class="section-head">
						<div class="sx-separator-outer separator-left">
							<div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
								<h3 class="sep-line-one">{{ 'HOME.WHATWEDOAREA.TITLE' | translate }}</h3>
							</div>
						</div>
					</div>
                    <!-- TITLE END -->
                    <div class="section-content">
                        <div class="row number-block-one-outer justify-content-center">
                        	<div class="col-lg-4 col-md-6 col-sm-6 m-b30">

                                <div class="number-block-one animate-in-to-top">
                                    <img src="../../../assets/images/pic1.jpg" alt="" />
                                    <div class="figcaption bg-white text-center p-a20">
                                        <h4 class="m-a0">{{ 'HOME.WHATWEDOAREA.01.DESCRIPTION' | translate }}</h4>
                                    </div>
                                    <div class="figcaption-number text-center sx-text-primary animate-in-to-top-content">
                                        <span>01</span>
                                    </div>
                                </div>

                            </div>

                        	<div class="col-lg-4 col-md-6 col-sm-6 m-b30">

                                <div class="number-block-one animate-in-to-top">
                                    <img src="../../../assets/images/pic2.jpg" alt="" />
                                    <div class="figcaption bg-white text-center p-a20">
                                        <h4 class="m-a0">{{ 'HOME.WHATWEDOAREA.02.DESCRIPTION' | translate }}</h4>
                                    </div>
                                    <div class="figcaption-number text-center sx-text-primary animate-in-to-top-content">
                                        <span>02</span>
                                    </div>
                                </div>

                            </div>

                        	<div class="col-lg-4 col-md-6 col-sm-6 m-b30">

                                <div class="number-block-one animate-in-to-top">
                                    <img src="../../../assets/images/pic3.jpg" alt="" />
                                    <div class="figcaption bg-white text-center p-a20">
                                        <h4 class="m-a0">{{ 'HOME.WHATWEDOAREA.03.DESCRIPTION' | translate }}</h4>
                                    </div>
                                    <div class="figcaption-number text-center sx-text-primary animate-in-to-top-content">
                                        <span>03</span>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="large-title-block full-content bg-gray">
                        	<div class="row">
                            	<div class="col-lg-6 col-md-12 col-sm-12">
                                	<div class="large-title">
                                      <h3 class="m-tb0">{{ 'HOME.WHATWEDOAREA.WHATWEDOFOOTER.TITLE' | translate }}</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12	col-sm-12">
                                	<div class="large-title-info">
                                    	<p>{{ 'HOME.WHATWEDOAREA.WHATWEDOFOOTER.DESCRIPTION' | translate }}</p>
										<div class="text-left">
                                        	<!-- <a href="javascript:;" class="site-button-link">{{ 'READMORE' | translate}}</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
