<footer class="site-footer footer-large  footer-dark	footer-wide">

  <!-- FOOTER BLOCKES START -->
  <div class="footer-top overlay-wraper">
      <div class="overlay-main"></div>
      <div class="container">
          <div class="row">



              <!-- USEFUL LINKS -->
              <div class="col-lg-3 col-md-6 col-sm-6 footer-col-3">
                  <div class="widget widget_services inline-links">
                      <h5 class="widget-title">{{'USEFULLINKS' | translate}}</h5>
                      <ul>
                          <li><a href="about-1.html">{{'HOME.NAVIGATION.ABOUT' | translate}} </a></li>
                          <li><a href="services-1.html">{{'HOME.NAVIGATION.SERVICES' | translate}}</a></li>
                          <li><a href="project-grid.html">{{'HOME.NAVIGATION.PROJECTS' | translate}}</a></li>
                          <li><a href="contact-1.html">{{'HOME.NAVIGATION.CONTACT' | translate}}</a></li>
                      </ul>
                  </div>
              </div>

              <!-- CONTACT US -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="widget widget_address_outer">
                      <h5 class="widget-title">{{'HOME.NAVIGATION.CONTACT' | translate}}</h5>
                      <ul class="widget_address">
                          <li>130 Blgd. St. 340, 1. Floor, Office #7
                            Salwa Road, near Midmac R/A
                            P.O BO:23047, Doha QATAR</li>
                          <li>test@gmail.com</li>
                          <li>(+974) 50071791</li>

                      </ul>
                        <div class="widget_services">
                          <ul>
                            <li> </li>
                            <li> </li>
                          </ul>
                        </div>
                      <ul class="widget_address">
                        <li>Barbaros Mah. Çiğdem Sok.  B3 Blok No:4 E iç Kapı No:25 Ataşehir İSTANBUL</li>
                        <li>test@gmail.com</li>
                        <li>(+90) 532 176 82 82</li>
                    </ul>

                  </div>
              </div>
                  <!-- SOCIAL MEDIAS -->
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_about">
                        <!--<h4 class="widget-title">About Company</h4>-->
                        <div class="logo-footer clearfix p-b15">
                            <a href="index.html"><img src="../../../assets/images/logo-light.png" alt=""></a>
                        </div>
                        <ul class="social-icons  sx-social-links">
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                  </div>


          </div>
      </div>
      <!-- <div class="container">
          <div class="call-to-action-wrap">
              <div class="row">
                  <div class="col-lg-7 col-md-6">
                      <div class="call-to-action-left">
                          <h5 class="text-uppercase m-b10 m-t0">Subscribe to our newsletter!</h5>
                          <span>Never Miss Anything From 7xtheme By Signing Up To Our Newsletter.</span>
                      </div>
                  </div>

                  <div class="col-lg-5 col-md-6">
                      <div class="call-to-action-right">
                          <div class="widget_newsletter">
                              <div class="newsletter-bx">
                                  <form role="search" method="post">
                                      <div class="input-group">
                                          <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                          <span class="input-group-btn">
                                              <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                          </span>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom overlay-wraper">
      <div class="overlay-main"></div>
      <div class="container">
          <div class="row">
              <div class="sx-footer-bot-left">
                  <!-- <span class="copyrights-text">© 2021 Developed By E</span> -->
              </div>
          </div>
      </div>
  </div>
</footer>
