<div class="page-wraper">

  <!-- HEADER START -->
  <app-navbar-dark></app-navbar-dark>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">
      <!-- INNER PAGE BANNER -->
      <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5">
        <div class="overlay-main bg-black opacity-07"></div>
          <div class="container">
              <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                      <h2 class="m-tb0"> {{'PROJECTS.TITLE' | translate}} </h2>

                      </div>
                  </div>
                  <!-- BREADCRUMB ROW -->

                      <div>
                          <ul class="sx-breadcrumb breadcrumb-style-2">
                              <li><a href="javascript:void(0);"> {{'HOME.NAVIGATION.HOME' | translate}} </a></li>
                              <li>{{'HOME.NAVIGATION.PROJECTS' | translate}}</li>
                          </ul>
                      </div>

                  <!-- BREADCRUMB ROW END -->
              </div>
          </div>
      </div>
      <!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
      <div class="section-full p-tb80 column-grid-4 inner-page-padding">
        <div class="container">
              <!-- Filter Nav START -->
            <div class="filter-wrap p-b30 text-center">
                  <ul class="filter-navigation masonry-filter clearfix">
                      <li class="active"><a class="btn from-top" data-filter="*" href="#" data-hover="All">All</a></li>
                      <li><a class=" btn from-top" data-filter=".cat-1" href="#">Architecture</a></li>
                      <li><a class=" btn from-top" data-filter=".cat-2" href="#">Decore</a></li>
                      <li><a class=" btn from-top" data-filter=".cat-3" href="#">Outdoor</a></li>
                      <li><a class=" btn from-top" data-filter=".cat-4" href="#">Interiors </a></li>
                      <li><a class=" btn from-top" data-filter=".cat-5" href="#">Residential</a></li>
                  </ul>
              </div>
              <!-- Filter Nav END -->

              <!-- GALLERY CONTENT START -->
               <ul  class="masonry-outer mfp-gallery row work-grid clearfix list-unstyled">

                  <!-- COLUMNS 1 -->
                  <li class="masonry-item cat-1 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic1.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Interior Work Avroko</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic1.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 2 -->
                  <li class="masonry-item cat-2 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic2.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Vilters</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic2.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 3 -->
                  <li class="masonry-item cat-3 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic3.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Industrial Design</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic3.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 4 -->
                  <li class="masonry-item cat-4 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic4.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">House Bluprint</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic4.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 5 -->
                  <li class="masonry-item cat-5 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic5.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Modern Bathroom</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic5.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 6 -->
                  <li class="masonry-item cat-4 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic6.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Bellevue Project</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic6.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 7 -->
                  <li class="masonry-item cat-3 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic7.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Qatar Pavilion</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic7.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 8 -->
                  <li class="masonry-item cat-2 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic8.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Museum</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic8.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 9 -->
                  <li class="masonry-item cat-1 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic9.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Modern house</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic9.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 10-->
                  <li class="masonry-item cat-3 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic7.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Qatar Pavilion</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic7.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 11 -->
                  <li class="masonry-item cat-2 col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic8.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Museum</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic8.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
                  <!-- COLUMNS 12 -->
                  <li class="masonry-item cat-1  col-xl-3  col-lg-4 col-md-6 col-sm-12 m-b30">
                      <div class="sx-box   image-hover-block">
                          <div class="sx-thum-bx">
                              <img src="../../../assets/images/projects/portrait/pic1.jpg" alt="">
                          </div>
                          <div class="sx-info  p-t20 text-white">
                              <h4 class="sx-tilte m-t0"><a href="#">Interior Work Avroko</a></h4>
                              <p class="m-b0">Muscat, Sultanate of Oman</p>
                          </div>
                          <a class="mfp-link" href="../../../assets/images/projects/portrait/pic1.jpg">
                              <i class="fa fa-arrows-alt"></i>
                          </a>
                     </div>
                  </li>
               </ul>
              <!-- GALLERY CONTENT END -->

              <!-- <div class="text-center load-more-btn-outer" style="background-image:url(../../../assets/images/background/cross-line.png)">
                  <button class="site-button-secondry btn-half"><span>Load More</span></button>
              </div> -->
        </div>


      </div>
      <!-- SECTION CONTENT END  -->

  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer></app-footer>

  <!-- FOOTER END -->

  <!-- BUTTON TOP START -->
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>


<!-- LOADING AREA START ===== -->
<div class="loading-area">
<div class="loading-box"></div>
<div class="loading-pic">
  <div class="cssload-spinner">
      <div class="cssload-cube cssload-cube0"></div>
      <div class="cssload-cube cssload-cube1"></div>
      <div class="cssload-cube cssload-cube2"></div>
      <div class="cssload-cube cssload-cube3"></div>
      <div class="cssload-cube cssload-cube4"></div>
      <div class="cssload-cube cssload-cube5"></div>
      <div class="cssload-cube cssload-cube6"></div>
      <div class="cssload-cube cssload-cube7"></div>
      <div class="cssload-cube cssload-cube8"></div>
      <div class="cssload-cube cssload-cube9"></div>
      <div class="cssload-cube cssload-cube10"></div>
      <div class="cssload-cube cssload-cube11"></div>
      <div class="cssload-cube cssload-cube12"></div>
      <div class="cssload-cube cssload-cube13"></div>
      <div class="cssload-cube cssload-cube14"></div>
      <div class="cssload-cube cssload-cube15"></div>
  </div>
</div>
</div>
